@use '../../../mixins' as mixins;
@use '../../../varibles' as *;

.navbar {
  padding: 15px;

  &-menu {
    display: grid;
    row-gap: 10px;
    @include mixins.text-body;

    &-link {
      a {
        border-bottom-color: $color-white;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        padding-bottom: 2px;
        transition: border-bottom-color 0.3s ease;

        &:hover {
          border-bottom-color: $color-accent;
        }
      }
    }
  }
}
